/* Portiqo brand colors and custom fonts */
@theme {
  /* breakpoints */
  --breakpoint-xl: 120rem; /* 1920px */
  --breakpoint-lg: 90rem; /* 1440px */
  --breakpoint-md: 64rem; /* 1024px */
  --breakpoint-sm: 48rem; /* 768px */
  --breakpoint-xs: 36rem; /* 576px */

  /* Font families */
  --font-accent: clash-display-bold, sans-serif;
  --font-accent--letter-spacing: -0.01em;
  --font-main: manrope-regular, sans-serif;
  --font-main-medium: manrope-medium, sans-serif;
  --font-main-bold: manrope-bold, sans-serif;
  --font-oswald: Oswald, sans-serif;

  /* Font sizes */

  --text-qo-xs: 0.875rem; /* 14px */
  --text-qo-xs--line-height: 1.5rem; /* 24px */

  --text-qo-md: 1rem; /* 16px */
  --text-qo-md--line-height: 1.5rem; /* 24px */

  --text-qo-base: 1.125rem; /* 18px */
  --text-qo-base--line-height: 1.5rem; /* 24px */

  --text-qo-h1: 5rem; /* 80px */
  --text-qo-h1--line-height: 4rem; /* 64px */

  --text-qo-h2: 4rem; /* 64px */
  --text-qo-h2--line-height: 3rem; /* 48px */

  --text-qo-h3: 3.25rem; /* 52px */
  --text-qo-h3--line-height: 2.875rem; /* 46px */

  --text-qo-h5: 1.375rem; /* 22px */
  --text-qo-h5--line-height: 1.375rem; /* 22px */

  /* Colors */
  --color-qo-gray-25: #fcfcfd;
  --color-qo-gray-50: #f9fafb;
  --color-qo-gray-100: #f2f4f7;
  --color-qo-gray-200: #eaecf0;
  --color-qo-gray-300: #d0d5dd;
  --color-qo-gray-400: #98a2b3;
  --color-qo-gray-500: #667085;
  --color-qo-gray-600: #475467;
  --color-qo-gray-700: #344054;
  --color-qo-gray-800: #1d2939;
  --color-qo-gray-900: #101828;

  --color-qo-brand-25: #fff6f5;
  --color-qo-brand-50: #ffe8e5;
  --color-qo-brand-100: #ffd2cb;
  --color-qo-brand-200: #ffb7ae;
  --color-qo-brand-300: #ff998e;
  --color-qo-brand-400: #ff8375;
  --color-qo-brand-500: #ff6f61;
  --color-qo-brand-600: #e05f55;
  --color-qo-brand-700: #b24c45;
  --color-qo-brand-800: #8a3c37;
  --color-qo-brand-900: #5e2a26;

  --color-qo-surface-100: #fffbf6;
  --color-qo-surface-200: #F9F6F1;
  --color-qo-surface-300: #f7efe3;

  --color-qo-success-100: #d1fadf;
  --color-qo-success-300: #6ce9a6;
  --color-qo-success-400: #32d583;
  --color-qo-success-500: #12b76a;

  --color-qo-warning-100: #fef0c7;
  --color-qo-warning-300: #fedf89;
  --color-qo-warning-400: #fec84b;
  --color-qo-warning-500: #fdb022;

  --color-qo-error-100: #fee4e2;
  --color-qo-error-300: #f97066;
  --color-qo-error-400: #f04438;
  --color-qo-error-500: #d92d20;

  --color-qo-icon-light: var(--color-qo-gray-25);
  --color-qo-icon-neutral: var(--color-qo-gray-500);
  --color-qo-icon-dark: var(--color-qo-gray-900);

  --color-badge-yellow: #edfd36;
  --color-badge-purple: #d2befd;
  --color-badge-orange: #fdb022;
}
