/* Global styles here */
@import "./styles/fonts.css";
@import "./styles/variables.css";
@import "tailwindcss";
@import "tw-animate-css";
@import "flag-icons/css/flag-icons.min.css";

/* DESKTOP (>=1024px) */

@media (min-width: 64rem) {
  :root {
    /* Font sizes desktop main */
    --text-main-xxs: 0.75rem; /* 12px */
    --text-main-xxs--line-height: 1rem; /* 16px */

    --text-main-xs: 0.875rem; /* 14px */
    --text-main-xs--line-height: 1.25rem; /* 20px */

    --text-main-sm: 1rem; /* 16px */
    --text-main-sm--line-height: 1.5rem; /* 24px */

    --text-main-md: 1.125rem; /* 18px */
    --text-main-md--line-height: 1.625rem; /* 26px */

    --text-main-lg: 1.375rem; /* 22px */
    --text-main-lg--line-height: 1.875rem; /* 30px */

    --text-main-xl: 1.625rem; /* 26px */
    --text-main-xl--line-height: 2.125rem; /* 34px */

    --text-main-2xl: 2rem; /* 32px */
    --text-main-2xl--line-height: 2.5rem; /* 40px */

    --text-main-3xl: 2.5rem; /* 40px */
    --text-main-3xl--line-height: 3rem; /* 48px */

    --: 3rem; /* 48px */
    --text-main-4xl--line-height: 3.5rem; /* 56px */

    --text-main-5xl: 3.5rem; /* 56px */
    --text-main-5xl--line-height: 4rem; /* 64px */

    --text-main-6xl: 4.5rem; /* 72px */
    --text-main-6xl--line-height: 5rem; /* 80px */

    /* Font sizes desktop accent */
    --text-accent-sm: 1rem; /* 16px */
    --text-accent-sm--line-height: 1.125rem; /* 18px */

    --text-accent-md: 1.25rem; /* 20px */
    --text-accent-md--line-height: 1.75rem; /* 28px */

    --text-accent-lg: 2rem; /* 32px */
    --text-accent-lg--line-height: 2.375rem; /* 38px */

    --text-accent-xl: 2.5rem; /* 40px */
    --text-accent-xl--line-height: 3rem; /* 48px */

    --text-accent-2xl: 3.25rem; /* 52px */
    --text-accent-2xl--line-height: 3.75rem; /* 60px */

    --text-accent-3xl: 4rem; /* 64px */
    --text-accent-3xl--line-height: 4.5rem; /* 72px */

    --text-accent-4xl: 5rem; /* 80px */
    --text-accent-4xl--line-height: 5.5rem; /* 88px */

    --text-accent-5xl: 6rem; /* 96px */
    --text-accent-5xl--line-height: 6.5rem; /* 104px */

    --text-accent-6xl: 7.5rem; /* 120px */
    --text-accent-6xl--line-height: 8.25rem; /* 132px */

    /* Gapping desktop */
    --gap-qo-xs: 0.5rem; /* 8px */
    --gap-qo-sm: 1rem; /* 16px */
    --gap-qo-md: 1.5rem; /* 24px */
    --gap-qo-lg: 2rem; /* 32px */
    --gap-qo-xl: 3rem; /* 48px */
    --gap-qo-2xl: 4rem; /* 64px */

    /* Roundings desktop */
    --radius-qo-sm: 0.5rem; /* 8px */
    --radius-qo-md: 0.75rem; /* 12px */
    --radius-qo-lg: 1rem; /* 16px */
    --radius-qo-xl: 2rem; /* 32px */
    --radius-qo-2xl: 3.5rem; /* 56px */
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {
  .font-accent {
    font-family: var(--font-accent);
    letter-spacing: var(--font-accent--letter-spacing);
  }
}

.onboarding-button {
  @apply w-[320px];
}

.auth-container {
  @apply flex h-full w-full flex-col items-center justify-start gap-16;
}
