/* Global styles here */
@import "./styles/fonts.css";
@import "./styles/variables.css";
@import "tailwindcss";
@import "tw-animate-css";
@import "flag-icons/css/flag-icons.min.css";

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {
  .font-accent {
    font-family: var(--font-accent);
    letter-spacing: var(--font-accent--letter-spacing);
  }
}

.onboarding-button {
  @apply w-[320px];
}
